/* ADDING BREAKPOINTS / MEDIA QUERIES------------------------------------------------------------------- */

/* 320px — 480px: Mobile devices ----------------------------------*/
@media only screen and (max-width: 480px) {

.mainwallpaper img{
width: 60%;
height: 60%;
}

.paragraph1{
    font-size: 13px;
    text-align: center;
}


.box1{
    font-size: 20px;
    min-width: 300px;
    max-width: 310px;
}


/* HOW WE ARE GOING HOW WE ARE GOING HOW WE ARE GOING HOW WE ARE GOING HOW WE ARE GOING  */
.fancy2{
    top: 0px;
    right: -10px;
    line-height: 30px;
    font-size: 20px;

}

.fancy3{
    /* border: dashed greenyellow 2px; */
    top: 0px;
    right: -10px;
    line-height: 30px;
    font-size: 20px;
}

.banner{
    font-size: 20px;
}

.banner2{
    font-size: 20px;
}

.banner4{
    display: none;
}

.artemisimage{
    display: none;
}


.artemislist div{
font-size: 20px; 
}

.parallax{
    display: none;
}

.parallax2{
    display: none;
}
.parallax3{
    display: none;
}
.parallax4{
    display: none;
}

.fancy img{ 
    height: 300px;
}


















     /* END OF MEDIA QUERY */

     /* END OF MEDIA QUERY */
     
     /* END OF MEDIA QUERY */
     
     /* END OF MEDIA QUERY */

     /* END OF MEDIA QUERY */
}