/*General-------------------------------------------------------------*/
*{
margin: 0;
padding: 0;
border: 0;
font-family: sans-serif;
}

div{
    box-sizing: inherit;
    display: flex;
    justify-content: center;
}

html{
    width: 100%;
}

body{
    margin: 0px;
}

img{
    margin: -5px 0px;
}

p{
    margin: 50px;
}

a:visited{
    color: white;
}
/* <!--NavBar-------------------------------------------------------------------------------------------> */
.navbar{
    justify-content: flex-start;
}
/*Top Nav List Items-------------------------------------------------------------*/
ul{
    list-style-type: none;
    margin: 10px 0px 20px 10px;
    padding: 0;
    float: left;
}

li{
    display: inline;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
}

li:hover{
    background-color: rgb(163, 157, 157);
}

/* MAiN WALLPAPER MAIN WALLPAPER */
.mainwallpaper img{
    width: 60%;
}

/* OVERVIEW OVERVIEW OVERVIEW OVERVIEW OVERVIEW OVERVIEW OVERVIEW OVERVIEW OVERVIEW */

.overview{
    display: flex;
    flex-direction: column;
}
.paragraph1{
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height:1.5;
    margin: 20px;
}

.box1{
    text-align: center;
    font-size: 28px;
    letter-spacing: 1.5px;
    line-height:1.5;
    background-color: rgb(187, 13, 13);
    color: white;
    border-radius: 5px;
    margin-bottom: 40px;
    min-width: 600px;
    max-width: 700px;
    align-self: center;
    margin: 30px;
 }

 .box1:hover{
     background-color: grey;
     color: black;
 }



/*Imgs-------------------------------------------------------------*/

.img1{
    height: 40px;
    display: inline;
    border: none;
    margin-bottom: -15px;
}

/*Videos-------------------------------------------------------------*/
video{
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

 /* Banners -------------------------------------------------------------*/
 .banner{
     text-align: center;
     background-color: rgb(187, 13, 13);
     color: white;
     font-size: 30px;
     padding: 10px 20px;
     margin:0px;
     font-weight: bolder;
 }

 .banner2{
    text-align: center;
    background-color: rgb(15, 15, 92);
    color: white;
    font-size: 30px;
    padding: 20px 20px;
    margin: 0px;
    font-weight: bolder;
}

.banner3{
    text-align: center;
    background-color: #dfdfdf;
    color: rgb(82, 80, 80);
    font-size: 40px;
    padding: 20px 20px;
    margin: 0px;
    font-weight: bolder;
}

.banner4{
 
    text-align: center;
    background-color: #dfdfdf;
    color: white;
    font-size: 290px;
    margin:0px ;
    font-weight: bolder;
    height: 225px;
    line-height: 245px;
    padding-top: 60px;
}
/*Parallax Effect -------------------------------------------------------------*/
.margin{
    margin: 0;
}

.parallax{
    background: url("https://www.nasa.gov/specials/artemis/img/foo-01.jpg")
    repeat fixed 100%;
}

.parallax2{
    background: url("https://www.nasa.gov/specials/artemis/img/foo-02a.jpg")
    repeat fixed 100%;
}

.parallax3{
    background: url("https://www.nasa.gov/specials/artemis/img/foo-03.jpg")
    repeat fixed 100%;
}

.parallax4{
    background: url("https://www.nasa.gov/specials/artemis/img/foo-05.jpg")
    repeat fixed 100%;
}



.parallax-inner{
    padding-top: 15%;
    padding-bottom: 15%;
}

.parallaxh1{
    text-align: center;
     background-color: rgb(187, 13, 13);
     color: white;
     font-size: 30px;
     padding: 10px 20px;
     margin:0px;
     font-weight: bolder;
     width: 130px;
     border-radius: 5px;
     margin-left:600px;
     letter-spacing: 10px;
}


/*--BluePrints Card Show-------------------------------------------------------------------------------------------*/
.blueprints{
    background-color: black;
    padding: 40px;
    clear: both;
    display: inline-block;
    margin-bottom: -10px;
    display: flex;
    flex-wrap: wrap;
}

/*--Card Show-------------------------------------------------------------------------------------------*/
.cards{
    background-color: black;
    width: 300px;
    text-align: center;
    margin: 20px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards p{
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
    font-size: 15px;
}

button{
    height: 130px;
    width: 300px;
    background-color: black;
    color: white;
    margin: 0px;
    font-size: 30px;
}

button:hover{
    background-color: rgb(192, 181, 181);
    color: black;
}

.img-cards{
    width: 300px;
}


/* WE GO WE GO WE GO WE GO WE GO WE GO WE GO WE GO WE GO WE GO WE GO */

.cards2{
    background-color: #dfdfdf;
    width: 300px;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.wego{
    background-color: #dfdfdf;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}


/* ??????????????????????????????? */
.button2{
    height: 130px;
    width: 300px;
    background-color: #dfdfdf;
    color: black;
    margin: 0px;
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
}

.button2:hover{
    background-color: #cac5c5;
    color: black;
}

/*--Image into Video-------------------------------------------------------------------------------------------*/

.fancy4{
    position: absolute;
    top: 0px;
    left: 100px;
    right: 100px;
    color: white;
   line-height: 120px;
   font-size: 30px;
   text-align: center;
   }

   .btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: transparent;
  }


  .fas{
      font-size: 20px;;
  }

  .fas:hover{
      color: black;
  }

/*--More about the ARtemis-------------------------------------------------------------------------------------------*/
.artemisdiv{
    background-color: black;
    padding: 40px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.cards3{
    background-color: black;
    width: 300px;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.artemisbutton{
    height: 170px;
    width: 300px;
    background-color: black;
    color: white;
    margin: 0px;
    font-size: 25px;
    padding-top: 10px;
}

.artemisbutton:hover{
    background-color: #dfdfdf;
    color: black;
}

/*--Article2-------------------------------------------------------------------------------------------*/
.article2{
    background-color: black;
    /* border: dashed greenyellow 3px; */
}

.box2{
    text-align: center;
    font-size: 22px;
    letter-spacing: 1.5px;
    line-height:1;
    background-color: rgb(32, 32, 190);
    color: white;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;

 }

 .box2:hover{
     background-color: grey;
     color: black;
 }

/*Artemis Projects-------------------------------------------------------------*/


 .artemislist{
    color: red;
    display: flex;
    flex-wrap: wrap;
 
 }

 /* ul .artmeistlist li{
    display: inline;
 } */

 .artemislist div{
    font-size: 25px; 
    color: red;
    padding: 20px;
    text-decoration: underline;
 
 }

 .artemisp{
     float: left;
     color: rgb(68, 65, 65);
     line-height: 25px;
 }

 .artemisicons{
    width: 180px;
    padding-top: 40px;
 }

/*Article 3--------------------------------------------------------------------------------------------------------------------------*/

.article3{
    background-color: rgb(15, 15, 92);
    margin-top: 0;
    margin-bottom: 0px;
}

.box3{
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height:1;
    background-color: rgb(32, 32, 190);
    color: white;
    margin: -4px 550px;
    border-radius: 5px;
    padding: 15px;
    clear: both;
 }

 .box3:hover{
    background-color: grey;
    color: black;
}



/*Footer---------------------------------------------------- -------------------------------------------------------------*/

.banner6{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px 20px;
    margin: 0px;
    height: 150px;
}


/*Sort These Out -------------------------------------------------------------*/


 .fancy{
    position: relative;
 }


 /* HOW WE ARE GOING HOW WE ARE GOING HOW WE ARE GOING HOW WE ARE GOING HOW WE ARE GOING  */
.fancy2{
    position: absolute;
    top: 8px;
    right: -10px;
    color: white;
    line-height: 120px;
    font-size: 80px;
    font-weight: bold;
    text-align: right;

}

.fancy3{
    position: absolute;
    top: 8px;
    right: -10px;
    color: white;
    line-height: 120px;
    font-size: 80px;
    font-weight: bold;
    text-align: right;
    background-color: rgb(187, 13, 13);
    padding: 0px 20px;

}


